@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: rgb(0,61,112);
  background: linear-gradient(90deg, rgba(0,61,112,1) 0%, rgba(2,12,28,1) 100%);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.container{
  margin: 32px 0;
}

.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row h2{
  text-align: center;
}
  
h1{
  font-size: 50px;
}

button{
  border: none;
}


/* 


NAVIGATION 


*/



nav{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 0;
}

.logo__img{
  width: 210px;
}

.nav__links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link{
  margin-right: 30px;
  font-size: 24px;
  font-weight: bold;
  color: transparent;
  position: relative;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: gold;
  letter-spacing: 1px;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gold;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.link__hover--effect:hover::after {
  transform: scaleX(1);
}

.contact__link{
  background-color: #2598a0;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.contact__link:hover{
  background-color: #307e95;
}



/*


HEADER


*/


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hd-color{
  color: transparent;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: gold;
  border-radius: 4px;
}

.row h1{
  animation: fade-up 0.5s ease;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #00e7f8;
  color: transparent;
  font-size: 52px;
}

.row h2{
  letter-spacing: 1px;
  animation: fade-up 0.5s ease;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00e8f9;
  font-size: 32px;
  color: transparent;
}

.main__sub--title{
  margin: 32px 0 50px 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #00eeff;
  letter-spacing: 1.5px;
  font-size: 28px;
  animation: fade-up 0.5s ease;
}

@keyframes fade-up {
  0%{transform: translateY(50%);
  opacity: 0;}
  100%{transform: translateY(0%) ;
  opacity: 1;}
}


.explore__anchor{
  margin-top: 32px;
  padding: 12px 24px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  background-color: #a784f9;
  color: white;
  font-weight: 700;
}

figure{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure ,img{
  width: 80%;
}

.header__img {
  width: 55%;
  opacity: 1;
  transition: transform 600ms ease-in-out, opacity 0.5s ease-in-out;
  transform: scale(0.9);
  animation: fade 1s ease-in-out;
}

@keyframes fade{
  0% {opacity: 0;}
  100%{opacity: 1;}
}

.header__img--searching {
  width: 55%;
  opacity: 1;
  transition: transform 600ms ease-in-out, opacity 0.5s ease-in-out;
  transform: scale(0.8);
  animation: fade-load 1s ease-in-out;
}

@keyframes fade-load{
  0% {opacity: 0;}
  100%{opacity: 1;}
}





/* 

SEARCH

*/

.search__container{
  background: transparent;
  border: 1px #00e7f8 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  border-radius: 30px;
  cursor: pointer;
  margin: 40px auto 40px auto;
  max-width: 800px;
  animation: fade-up 0.5s ease;
}

input, select, textarea{
  color: #00e7f8;
}

.search{
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.search::placeholder{
  color: #00e7f8;
  font-weight: 100;
}

.search::selection{
  color: #00e7f8;
}



.search__button{
  border: none;
  outline: none;
  background-color: transparent;
  transition: 90ms all ease-in-out;
  cursor: pointer;
  padding: 12px 0;
  color: #00e7f8;
}

.search__button i{
  font-size: 20px;
}

.search__results{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__results h3{
  animation: fade-up 0.5s ease;
}

.search__results select{
  animation: fade-up 0.5s ease;
}

select{
  border-radius: 4px;
  border: 1px solid #00e7f8;
  color: #00e7f8;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  width: 100%;
  max-width: 220px;
  font-size: 16px;
}

option{
  background-color: #000000;
}

.search__results h3{
  color: transparent;
  font-size: 32px;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #00eeff;
}

.loading {
  background-color: white;
  transition: all 300ms ease;
}

button, i{
  font-size: 20px;
  width: 50px;
}




/* 


MOVIES


*/



.movies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 12px;
}

.movie{
  width: calc(100%/3);
  height: 100%;
  margin-bottom: 32px;
}

.movie__img--wrapper{
  margin-bottom: 8px;
  overflow: hidden;
  display: flex;
}

.movie__img{
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all ease-in-out;
  border: none;
  cursor: pointer;
}

.movie__title {
  font-size: 20px;
  margin-bottom: 8px;
  display: flex;
  width: 100%;
  padding-left: 40px;
  text-decoration: none;
}

.movie__title h3,
.movie__year p{
  color: gold;
}


.movie__year{
  font-size: 20px;
  display: flex;
  padding-left: 40px;
  margin-top: 12px;
  text-decoration: none;
}

.movie:hover .movie__img {
  transform: scale(1.03);
}


.no__movies{
  font-size: 20px;
  font-weight: bold;
}



/*

MOVIE DETAILS

*/

.movie__details--container{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.left__column--details{
  width: 100%;
  max-width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left__column--details h3{
  margin-top: 12px;
  margin-bottom: 14px;
  font-size: 28px;
}

.right__column--details{
  width: 100%;
}

.right__column--details, h3{
  margin-bottom: 8px;
}

.right__column--details, h4{
  margin-bottom: 32px;
  font-weight: 500;
}

.details__column{
  display: flex;
  flex-direction: column;
}

.left__column--details h3{
  color: gold;
}


.details__column h3,
.details__column h4,
.title__details{
  color: #00e7f8;
}


.poster__details{
  /* width: 100%;
  height: 100%; */
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.quality__buttons{
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quality{
  width: 100%;
  margin: 0 4px 0 4px;
  border-radius: 10px;
  cursor: not-allowed; 
  background-color: #000;
  color: gold;
  padding: 10px;
  font-size: 20px;
}

.title__details{
  font-size: 32px;
  margin-bottom: 20px;
}

.rating__details{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


/*

SKELETON

*/


.movie__img--skeleton{
  height: 400px;
  width: 280px;
  background-color: lightgray;
  border: none;
}

.movie__title--skeleton{
  width: 250px;
  height: 20px;
  margin-left: 21px;
  background-color: lightgray;
}

.movie__year--skeleton{
  width: 100px;
  height: 20px;
  margin-left: 21px;
  background-color: lightgray;
}

.poster__details--skeleton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 650px;
  width: 450px;
  background-color: lightgray;
}

.title__details--skeleton{
  width: 100%;
  height: 48px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.h3__skeleton{
  width: 100px;
  height: 28px;
  background-color: lightgray;
}

.h4__skeleton{
  width: 100px;
  height: 20px;
  background-color: lightgray;
}

.h4__skeleton--cast{
  width: 100%;
  height: 20px;
  background-color: lightgray;
}

.h4__skeleton--plot{
  width: 100%;
  height: 20px;
  background-color: lightgray;
  margin-bottom: 8px;
}

.h4__skeleton--plot--final{
  width: 100%;
  height: 20px;
  background-color: lightgray;
  margin-bottom: 30px;
}

.h4__skeleton--genre,
.h4__skeleton--director{
  width: 200px;
  height: 20px;
  background-color: lightgray;
  margin-bottom: 30px;
}

.watch__now--skeleton{
  width: 200px;
  height: 35px;
  background-color: lightgray;
  margin-top: 30px;
}

.quality-skeleton{
  margin: 24px 4px 10px 4px;
  width: 100px;
  height: 33px;
  background-color: lightgray;
}







/* 

RESPONSIVENESS 

*/



@media (max-width: 768px) {

  header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo__img{
    width: 200px;
  }

  .row h1{
    font-size: 40px;
    text-align: center;
  }

  .header__img{
    width: 65%;
  }

  .header__img--searching{
    width: 70%;
  }

  .row{
    padding: 0 32px;
  }

  .search__results h3{
    font-size: 28px;
  }

  .movies{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100%/2)
  }

  .movie__title{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .movie__year{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .movie__details--container{
    display: flex;
    flex-direction: column;
  }

  .left__column--details{
    width: 100%;
    margin-bottom: 20px;
  }

  .title__details{
    text-align: center;
  }

  .poster__details{
    width: 350px;
  }

  .right__column--details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .details__column{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details__column, h3{
    text-align: center;
  }

  .quality__buttons{
    margin-bottom: 30px;
  }

  .quality{
    font-size: 18px;
    padding: 6px;
  }

  .movie__title--skeleton{
    width: 100%;
    max-width: 280px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .poster__details--skeleton{
    width: 350px;
    height: 500px;
  }

  .rating__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 58px;
    margin-left: 20px;
  }

  .rating{
    margin: 0 40px;
  }

}

@media (max-width: 480px) {

  .logo__img{
    width: 150px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__img{
    width: 90%;
  }
  
  .header__img--searching{
    width: 90%;
  }
  
  .row h1{
    font-size: 40px;
  }

  .row h3{
    font-size: 20px;
  }

  .explore__anchor{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: #a784f9;
    color: white;
    font-weight: 700;
  }

  .details__column{
   width: 100%;
  }

  .rating__details{
    width: 100%;
    margin: 0;
    margin-right: 12px;
  }

  .rating__details, .rating{
    font-size: 15px;
  }

  .rating{
    margin: 0 12px;
  }
  


  .search{
    height: 50px;
  }

  .movies{
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
  }

  .movie{
    width: 100%;
    max-height: 100%;
  }

  .movie__title{
    width: 100%;
  }

  .movie__info{
    display: flex;
    flex-direction: column;
  }

  select{
    height: 30px;
    width: 190px;
  }

  .movie__title--skeleton{
    width: 100%;
    max-width: 280px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie__year--skeleton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .poster__details--skeleton{
    width: 350px;
    height: 500px;
  }
}